.wrapper{
  height: 100vh;
  width: 100vh;
  position: relative;
}

.title-contents {
  width: 100vw;
  // height:25vh;  
  position: relative;
  // background-image: image-url('header.png');
  // background-size:contain; 
  // background-repeat: no-repeat;
  // background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  // text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.header-pict{
  
  width: 100vw;
}

.top{
  position: absolute;

}

// .header-pict div.login{
//   position: absolute;

// }

// .header-pict div.not-login{
//   position: absolute;

// }

footer{
  height: 100px;
  width: 100vw;
  background-color: #e0e1e4;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
